@model IEnumerable<Application_crud.Models.Class1>

@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>List Of Employee</h2>

<p>
    @Html.ActionLink("Create New Form", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
            </td>
        </tr>
    }
    @Html.ActionLink(" Do you Want To Add Product ", "Index", "Product")

</table>
<div></div>
Page@(Model.PageCount<Model.PageNumber ? 0: Model.PageNumber)/@Model.PageCount)
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

    @Html.ActionLink(" Do you Want To Add Category ", "Index", "Category")
</div>